:root {
  --secondary: #333a57;
  --primary: #fac4c7;
}

html {
  max-width: 100%;
  margin: 0 auto;
  font-family: "Patrick Hand", sans-serif;
}

/* If the screen size is 601px wide or more */
@media screen and (min-width: 601px) {
  html {
    font-size: large;
  }
}

/* If the screen size is 600px wide or less */
@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }

  .bar.menu a {
    width: 20px;
  }
}

#header {
  background-color: var(--secondary);
  position: fixed;
  width: 100vw;
  height: 65px;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

#header .menu {
  margin-right: 5vw;
  margin-left: 5vh;
}
#content {
  display: flex;
  flex-direction: column;
}

/* button */

.button {
  width: 100px;
  justify-content: center;
  display: flex;
  align-items: center;
  border: none;
  text-align: center;
  flex-direction: column;
}

.button:hover {
  background-color: black !important;
  color: var(--primary);
}

.button.light:hover {
  border: black;
  border-style: solid;
  border-width: 3px;
  border-bottom-width: 5px;
  border-radius: 8px;
}

.home-button {
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;
}

.dark {
  color: white;
  text-decoration: none;
  background-color: var(--secondary) !important;
}

.light {
  color: var(--secondary);
  text-decoration: none;
  background-color: white;
}

.button.light {
  border: var(--secondary);
  border-style: solid;
  border-width: 3px;
  border-bottom-width: 6px;
  border-radius: 8px;
}

.bar {
  height: 100%;
}

.menu {
  display: flex;
  max-width: 100%;
}

.bar.menu a {
  width: 85px;
}

#display {
  margin-top: 60px;
  background-color: var(--secondary);
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 25vw;
}

.download-button {
  padding: 1vw 3%;
  font-family: "Patrick Hand", sans-serif;
  font-size: larger;
  width: 8vw;
  max-width: 210px;
  min-width: 60px;
  margin: 0px 75px;
  z-index: 1;
  border-radius: 8px;
  margin:  3vw;
  margin-top: 12vw;
}

.download {
  display: flex;
  margin-bottom: 25px;
  justify-content: center;
}

.trans-sheet {
  width: 100%;
  padding-bottom: 50px;
  background: rgb(250, 196, 199);
  background: linear-gradient(
    180deg,
    rgba(250, 196, 199, 0.3) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

#about {
  padding-top: 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.para {
  margin: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25%;
}

.menu-button {
  font-size: 24px;
  margin: 1vw;
  padding: 3%;
  width: 27vw;
  max-width: 220px;
}

.menu-button i {
  margin-bottom: 8px;
}

.service {
  background-color: white;
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.para {
  width: 30%;
}

.para .text-subject {
  font-size: 32px;
}

.para.right {
  text-align: right;
  padding-right: 16px;
  height: fit-content;
  border-right: var(--secondary);
  border-right-style: dashed;
  border-right-width: 3px;
}

.para.left {
  text-align: left;
  padding-left: 16px;
  height: fit-content;
  border-left: var(--primary);
  border-left-style: dashed;
  border-left-width: 3px;
}

.aboutlable {
  font-size: 56px;
}

.guide {
  color: var(--secondary);
  z-index: 2;
  padding: 1vw;
}

#update {
  margin-top: -5vw;
}

.service img {
  height: 100vw;
  max-height: 70%;
  margin: 20px;
}

#contact {
  background-color: var(--secondary);
  
}

/* If the screen size is 600px wide or less */
@media screen and (max-width: 600px) {

  .bar.menu a {
    width: 14vw;
  }

  #header .menu {
    margin-right: 1vw;
    margin-left: 1vh;
  }

  .download-button {
    font-size: smaller;
  }

  .para {
    width: 50%;
  }
  .guide {
    font-size: 7px;
  }

  .para label {
    font-size: 12px;
  }
  .para .text-subject {
    font-size: 24px;
  }

  .menu-button {
    font-size: 18px;
    width: 24vw;
    padding: 6px 0px;
    margin: 3vw;
  }

  #about .para .aboutlable {
    font-size: 32px;
  }
}

/* If the screen size is 601px wide or more */
@media screen and (min-width: 601px) {
  .trans-sheet {
    height: 100vh;
  }
}


